body {
	margin: 0;
	padding: 0;
	font-family: Helvetica, Arial, sans-serif;
	background: #f2f2f2;
	font-size: 1em;
	line-height: 1.5em;
}

h1 {
	font-size: 2.3em;
	line-height: 1.3em;
	margin: 15px 0;
	text-align: center;
	font-weight: 300;
	color: #0b76a6;
}

p {
	margin: 0 0 1.5em 0;
}

img, video {
	display: block;
	margin: auto;
	max-width: 100%;
	height: auto;
  }
  

figcaption {
	background-color: #222;
	color: #fff;
	font: italic smaller sans-serif;
	padding: 3px;
	text-align: center;
}

.navbar-toggler-icon {
	background-color: white;
}

/*cabecera*/
#main-header {
	background: #333;
	color: white;
	height: 80px;

	width: 100%;
	/* hacemos que la cabecera ocupe el ancho completo de la página */
	left: 0;
	/* Posicionamos la cabecera al lado izquierdo */
	top: 0;
	/* Posicionamos la cabecera pegada arriba */
	position: fixed;
	/* Hacemos que la cabecera tenga una posición fija */
}

/*logo*/
#logo-header {
	float: left;
	padding: 15px 0 0 20px;
	text-decoration: none;
}

#logo-header:hover {
	color: #0b76a6;
}

#logo-header .site-name {
	display: block;
	font-weight: 700;
	font-size: 1.2em;
}

#logo-header .site-desc {
	display: block;
	font-weight: 300;
	font-size: 0.8em;
	color: #999;
}


/*navegación*/
nav {
	float: right;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
	padding-right: 20px;
}

nav ul li {
	display: inline-block;
	line-height: 80px;
}

nav ul li a {
	display: block;
	padding: 0 10px;
	text-decoration: none;
}

nav ul li a:hover {
	background: #0b76a6;
}

/*contenido*/
#main-content {
	background: white;
	width: 90%;
	max-width: 800px;
	margin: 20px auto;
	margin-top: 50px;
	box-shadow: 0 0 10px rgba(0, 0, 0, .1);
}

#main-content header,
#main-content .content {
	padding: 40px;
}


/*pie de pagina*/
#main-footer {
	background: #333;
	color: white;
	text-align: center;
	padding: 20px;
	margin-top: 40px;
}

#main-footer p {
	margin: 0;
}

#main-footer a {
	color: white;
}

#presidenta {
	float: right;
}

#organismo{
	text-align: left;
}

/* Estilos para dispositivos móviles */
@media only screen and (max-width: 600px) {
	/* Estilos específicos para dispositivos con un ancho máximo de 600px */
  }
  
  /* Estilos para tabletas */
  @media only screen and (min-width: 601px) and (max-width: 1024px) {
	/* Estilos específicos para dispositivos con un ancho mínimo de 601px y un ancho máximo de 1024px */
  }
  
  /* Estilos para ordenadores de escritorio */
  @media only screen and (min-width: 1025px) {
	/* Estilos específicos para dispositivos con un ancho mínimo de 1025px */
  }

  .element {
	width: 100%; /* O cualquier porcentaje adecuado */
	max-width: 600px; /* O cualquier otro valor máximo adecuado */
  }
  
  